
/*Styling for the tables*/
html {
    display: table;
    width:100%;
}

#window {
    min-width: 60%;
    word-wrap: break-word;
    display: table
}
#dataTable {
    table-layout: fixed;
    width: 100%;
}
#dataTable_wrapper {
    background-color: #F5F5DC;
    border-radius: 5px;
}


