@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <link href="@Url.Content("~/css/homePage.css")" rel="stylesheet" type="text/css" />
}
<div class="text-center row" id="homeCards" style="margin-top: 5%">
    <div class="col-sm-12 col-md-6">
        <div class="card mb-5" style="max-width: 25rem;min-height:20%">
            <div class="card-header">Update Inventory</div>
            <div class="card-body">
                <h5 class="card-title" id="cardText">From a CSV file or individually</h5>
                <p class="card-text">Using ADO.net data acces and Cinchoo ETL framework.</p>
                <a asp-controller="Product" asp-action="Index" class="btn btn-info">Products List</a>
            </div>
        </div>
    </div>
</div>
<div class="text-center row mb-5">
    <div class="col-sm-12 d-flex flex-row-reverse">
        <div class="card" id="cardBottom" style="max-width:25rem; min-height:20%;">
            <div class="card-header">Update Sales</div>
            <div class="card-body">
                <h5 class="card-title" id="cardText">From a CSV file or individually</h5>
                <p class="card-text">Using Lunh algorithm and credit card encryption.</p>
                <a asp-controller="Order" asp-action="Index" class="btn btn-info">Orders List</a>
            </div>
        </div>
    </div>
</div>

<div class="text-center row">
    <div class="col-sm-12 col-md-6 ">
        <div class="card mb-5 " style="max-width: 25rem;min-height:20%;">
            <div class="card-header">Manage Users and Roles</div>
            <div class="card-body ">
                <h5 class="card-title" id="cardText">Using Identity Framework</h5>
                <p class="card-text text-justify"><strong>User: </strong>admin</p>
                <p class="card-text text-justify"><strong>Password: </strong>admin1.</p>
                @if (ViewBag.UsersInDb != null)
                {
                    <a asp-action="Login" asp-controller="Account" class="btn btn-info">Login</a>
                }
                else
                {
                    <form class="form-inline" asp-action="PopulateDbWithUsers" asp-controller="Account">
                        <button type="submit" class="btn btn-info"> Populate database with users</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

