@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center row">
    <div class="col-5" id="left">
        <div class="card mb-5" style="max-width: 25rem;margin-top:5%;margin-bottom:60%">
            <div class="card-header" >Update Inventory</div>
            <div class="card-body">
                <h5 class="card-title" id="cardText">From a CSV file or individually</h5>
                <p class="card-text">Using an integration of ADO.net data acces and Cinchoo ETL framework.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card mt-" style="max-width: 25rem;margin-top:50%;">
            <div class="card-header">Update Inventory</div>
            <div class="card-body">
                <h5 class="card-title" id="cardText">From a CSV file or individually</h5>
                <p class="card-text">Using an integration of ADO.net and ChoEtl.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-5" id="right" style="align-content:end">
        <div class="card mb-5" style="max-width: 25rem;margin-top:55%;">
            <div class="card-header">Update Inventory</div>
            <div class="card-body">
                <h5 class="card-title" id="cardText">From a CSV file or individually</h5>
                <p class="card-text">Using an integration of ADO.net and ChoEtl.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
