@using VideogameShop.Library.Models
@model VideogameShop.Library.Models.Role

@{
    ViewData["Title"] = "DeleteRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<UserRoleModel> usersInRole = ViewBag.UsersInRole;
}

<h1>Delete Role</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DeleteRole">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="RoleId" />

            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" readonly />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>

            
            @if (Model.RoleName == "admin")
            {
                <div class="form-group">
                    <span >Can not Delete Admin Role</span>
                    <a asp-action="ListRoles" class="btn btn-primary">Cancel</a>
                </div>
            }
            else
            {
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="ListRoles" class="btn btn-primary">Cancel</a>
                </div>
            }
        </form>
    </div>
</div>
<div class="card bg-light">
    <div class="card-header">
        <h3>Users in this Role</h3>
    </div>
    <div class="card-body">
        @if (usersInRole != null && usersInRole.Any())
        {
            foreach (var user in usersInRole)
            {
                <h5 class="card-tile">@user.UserName</h5>
            }
        }
        else
        {
            <h5 class="card-tile">No users assigned to this role at the moment</h5>
        }

    </div>
    <div class="card-footer">
        <a class="btn btn-primary" asp-action="EditUserInRole" asp-controller="Administration" asp-route-id="@Model.RoleId">Add or Remove Users from this Role</a>
    </div>
</div>



